.card {
  /* display: flex; */
  width: calc(50% - 20px);
  max-width: 600px;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  padding-bottom: 32px;
}

.card__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  display: flex;
  margin-bottom: 16px;
}
.card__list-item:last-child {
  /* reset margin here */
  margin: 0;
}
.card__divider {
  border-bottom: 1px solid #ffffff;
  flex-grow: 1;
}
