.menu {
  background: #0a2750 url(../images/background_menu.svg) no-repeat center/cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.menu__title {
  text-align: center;
  margin: 0 0 24px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.menu__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  max-width: 780px;
  text-align: center;
  margin: auto;
  padding-bottom: 100px;
}

.menu__cards {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px 100px;
  padding-left: 0;
  margin: 0;
}
